.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeLength {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 3fr 1fr;
}
.timeLengthLabel {
  grid-area: 1/1/2/3;
}
.timeLengthValue {
  grid-area: 2/1/4/2;
}
